<div class="row">
    <div class="col-12">
        <h2 id="bio">Bio</h2>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p>
            Abhishek is a fourth-year Electrical Engineering PhD student in
            <a href="https://seas.yale.edu/departments/electrical-engineering">Department of Electrical Engineering</a>
            at Yale University, advised by
            <a href="https://intelligentcomputinglab.yale.edu/principal-investigator/">Prof. Priyadarshini Panda</a>.
        </p>
        <p>
            <b> My Research Interests </b> lie in the co-search and co-design for in-memory computing and digital hardware accelerators for different machine learning tasks
            such as artificial neural networks, spiking neural networks and transformers.

        </p>

        <p> <b>Prior to joining Yale </b> I recieved my BE in Electronics and Instrumentation Engineering degree from the Birla Institute of Technology and Science (BITS), Pilani (Goa).
            At BITS, I worked under Prof. Amalin Prince in designing FPGA-based hardware accelerators for signal processing applications. Meanwhile, we also interned at Western Digital where
            I worked towards developing a memory‑diagnostic feature for an in‑house tool. Later, I joined the Indian Institute of Science (IISc), Bangalore under Prof. Chetan Singh Thakur to pursue my undergraduate thesis and research assistant-ship. At IISc, I focussed on
            designing FPGA-based hardware accelerators for binary neural networks and signal processing applications.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/images/abhishek.jpg">
    </div>
</div>
